# Perceptron from scratch

# Libaries import

In [39]:
import pandas as pd
import matplotlib.pyplot as plt

# Load data

In [40]:
df = pd.read_csv(r"C:\Users\La Plateforme\Desktop\Eating-habits\eating_habits.csv")
df

          Date               Type  Calories Glucides Protéines Lipides
0   26/02/2024             Banane       134     34,3       1,6     0,5
1   26/02/2024   Sandwich au thon       637       76      24,5    29,4
2   26/02/2024      Boîte de thon       216      0,6      27,5    14,3
3   26/02/2024        Kinder maxi       238     22,5       3,7    14,7
4   27/02/2024     Croissant aldi       157       17         3       8
5   27/02/2024          Skyr 500g       274     15,4      46,6     2,4
6   27/02/2024         Onigiri x2       365     47,5      11,5      15
7   27/02/2024      Mojito fraise        46       11       0,5     0,5
8   27/02/2024  Jambon Merrakchia       174      0,8        15      12
9   27/02/2024         Clear Whey        87      0,7      20,8     0,1
10  28/02/2024         Clear Whey        87      0,7      20,8     0,1

## Data frame information

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       11 non-null     object
 1   Type       11 non-null     object
 2   Calories   11 non-null     int64
 3   Glucides   11 non-null     object
 4   Protéines  11 non-null     object
 5   Lipides    11 non-null     object
dtypes: int64(1), object(5)
memory usage: 656.0+ bytes

## Convert date to datetime format

In [42]:
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)
df["Date"][0]

Timestamp('2024-02-26 00:00:00')

## Convert decimal numbers french to english format

In [45]:
def convert_to_english(value):
    if isinstance(value, str):
        return float(value.replace(",", "."))
    return value

In [46]:
columns_to_convert = df.columns[2:]

df[columns_to_convert] = df[columns_to_convert].applymap(convert_to_english)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       11 non-null     datetime64[ns]
 1   Type       11 non-null     object
 2   Calories   11 non-null     int64
 3   Glucides   11 non-null     float64
 4   Protéines  11 non-null     float64
 5   Lipides    11 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 656.0+ bytes